.nav-link {
  font-size: 25px;
  color: white !important;
  
}

.nav-link:hover {
  font-weight: bold;
}

.active {
  text-decoration: underline !important;
  font-weight: bold;
}
html {
  zoom: 80%;
}
